#detailButton {
  width: 50%;
  margin: 0 auto;
  color: black;
}

.containerr {
  color: white;
}

img {
  padding-top: 5vh;
  width: 45vw;
  max-width: 200px;
}

#energy {
  font-size: 30pt;
}

#produced {
  font-size: 18pt;
}

#name {
  color: #ff9400;
}