#detailButton {
  width: 50%;
  margin: 0 auto;
  color: black;
  text-align: center;
  background-color: #ff9400;
  max-width: 176px;
}

.profile-container {
  color: transparent;
  text-align: center;
}

img {
  padding-top: 5vh;
  width: 45vw;
  text-align: center;
  max-width: 230px;
}

#energy {
  font-size: 30pt;
  text-align: center;
}

#produced {
  font-size: 18pt;
  text-align: center;
}

#name {
  color: #ff9400;
  font-size: 20pt;
  text-align: center;
  padding-top: 55px;
}
